<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
    
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:yesladbserver.database.windows.net,1433;Initial Catalog=Yesla_db;User Id=adsieg01@yesladbserver;Password=Password#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    

      <customErrors defaultRedirect="GenericError.htm"
        mode="On" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
   
  </system.web>
</configuration>
