@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>City to City Ridesharing </h1>
                    <p>Experince the future by riding in a Tesla <br> Comfortable, Safe, Sustainable</p>
                    <div class="short-popular-category-list text-center">
                        <h2>Cities Serviced</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-car"></i> Indianapolis</a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-car"></i> Chicago</a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-car"></i> Louisville</a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-car"></i> Cincinnati</a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-car"></i> Detroit</a>
                            </li>
                        </ul>
                    </div>
                </div>                             
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->
<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Mid-Range Travel</h2>
                    <p>We specialize in taking you to cities that you could fly to but isn't worth the hassle.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- offer 01 -->
            <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a href="">
                                <img class="card-img-top img-fluid" src="~/BootstrapTemplate/images/products/Chicago.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="">Chicago</a></h4>                           
                            <p class="card-text">Daily routes from Indianapolis to Chicago.</p>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a href="">
                                <img class="card-img-top img-fluid" src="~/BootstrapTemplate/images/products/Indianapolis.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="">Indianapolis</a></h4>
                            <p class="card-text">All roads lead to Indianapolis! Daily and weekly routes to and from Chicago, Louisville, Cincinnati, and Detroit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a href="">
                                <img class="card-img-top img-fluid" src="~/BootstrapTemplate/images/products/Cincinnati.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="">Cincinnati</a></h4>
                            <p class="card-text">Weekly routes from Indianapolis to Cincinnati.</p>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>    
</section>



<!--==========================================
=            All Category Section            =
===========================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-7woGsSzIVw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
             
                   


                </div>
            </div>
        </div>
   
    <!-- Container End -->
</section>